name: "Docs"

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths:
      - ".github/workflows/build-docs.yaml"
      - ".github/workflows/docs.yaml"
      - "zensical.toml"
      - "docs/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docs:
    name: "Docs"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      pages: write
      id-token: write

    environment:
      name: docs
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Zensical Action"
        uses: smashedr/composite-action@zensical
